<!--会员中心左列-->
<div class="left_row">
	<div class="list">
		<div class="list_bar">&sect; 稿件管理</div>
		<div class="list_content">
			<ul>
				<li><a href="${base}/cmsmember/ArticleMain.jspx">所有稿件</a></li>
				<li><a href="${base}/cmsmember/ArticleChecked.jspx">已审稿件</a></li>
				<li><a href="${base}/cmsmember/ArticleUnchecked.jspx">待审稿件</a></li>
				<li><a href="${base}/cmsmember/ArticleReject.jspx">退回稿件</a></li>
				<li><a href="${base}/cmsmember/ArticleDraft.jspx">草稿</a></li>
				<li><a href="${base}/cmsmember/ArticleInput.jspx">发布稿件</a></li>
			</ul>
		</div>
	</div>
</div>