<!--会员中心左列-->
<div class="left_row">
	<div class="list">
		<div class="list_bar">&sect; 基本设置</div>
		<div class="list_content">
			<img src="${root}/default/cms_member/img/nophoto.gif" />				
			<ul>
				<li>用户名：${cmsMember.loginName}</li>
				<li class="btm_line">级　别：${cmsMember.group.name}</li>
				<li>&middot; <a href="${base}/cmsmember/MemberInfo.jspx">修改资料</a></li>
				<li class="btm_line">&middot; <a href="${base}/cmsmember/MemberPwd.jspx">修改密码</a></li>
				<li>&middot; <a href="${base}/">返回网站首页</a></li>
				<li class="btm_line">&middot; <a href="${base}/cms/LoginAloneLogout.jspx">退出会员中心</a></li>
			</ul>
		</div>
	</div>
</div>