<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>页面没有找到</title>
<link href="${root}/default/cms_member/css/whole.css" rel="stylesheet" type="text/css"/>
<link href="${root}/default/cms_member/css/layout.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="list error_msg">
	<div class="list_bar">页面没有找到</div>
	<div class="error_content">
		<ul>
			<li>5秒钟之后将会带您进入首页!</li>
		</ul>
	</div>
	<script>setTimeout("window.location.href ='${base}/';", 5000);</script>
</div>
</body>
</html>