/*页头布局Begin*/
.top {overflow:hidden; height:88px;}
.cbody {padding:8px; margin: 0px auto; width:950px; background-color:#ffffff;}
.toplogo {width:200px; margin-top:14px; float:left;}
.topbanner {margin-top:18px; float:left; margin-left:20px; width:530px; color:#ffffff;}
.toplink {margin-top:25px; float:left; margin-left:40px; width:160px}
.toplink ul li {width:80px; line-height:24px; height:24px; text-align:center; float:left;}

.btn_1{border:#ccc 1px solid; background-color:#FFFFFF; font-size:12px; height:22px; line-height:22px;}
/*页头布局End*/


/*导航栏布局Begin*/
.topmenu {background: url(../img/nav-center.jpg) #d10e00 repeat-x left top; height: 45px;}
.cbody1 {margin: 0px auto; width: 966px; background-color: #ffffff;}
.topmenu ul {font-weight: bold; margin: 0px auto; overflow: hidden; width: 100%; height: 45px;}
.topmenu ul li {margin-top:6px;margin-left: -2px; text-align: center;}
.topmenu ul li a {padding-right: 12px; display: block; PADDING-LEFT: 14px; float: left; color: #ffffff; LINE-height: 37px; height: 35px; text-decoration:none;}
.topmenu ul li a:hover {background: url(../img/nv-on.jpg) no-repeat center bottom; color: #cccccc; text-decoration:none;}
.topmenu ul li a.thisclass {background: url(../img/nv-on.jpg) no-repeat center bottom; color: #ffff00;}
/*导航栏布局End*/


/*搜索栏布局Begin*/
.topsearch{height:37px;	width:966px; margin-top:3px; border-right:1px solid #EEE; background:url(../img/topsearch_bg.gif) repeat-x; overflow:hidden; margin:0px auto;}
.topsearch .title{height:37px;width:83px;float:left;background:url(../img/topsearch_title.gif) left center no-repeat;}
#page_search_left{width:220px;float:left; text-align:center;padding-top:8px;}
#page_search_btn{width:80px;float:left;padding-top:8px;}
#page_search_right{width:170px; height:33px;line-height:33px; float:right; text-align:center;}
.topsearch .inputText{height:16px;width:200px;border-width:1px;border-style:solid;border-color:#808080 #D4D0C8 #D4D0C8 #808080;}
.topsearch .hots{height:33px;line-height:33px;float:left;}
/*搜索栏布局End*/


/*页面主体布局Begin*/
.page_row{width:950px; padding:8px !important;  padding:8px 8px 0px 8px; margin:0px auto; margin-top:5px; background-color:#ffffff;}
#jdt {float:left;}

.list{border:#cccccc 1px solid;}
.list_bar{height:28px; line-height:28px; background-image:url(../img/title-bg.gif); color:#d14500; text-indent:10px;}
.list_content{text-align:center; padding:6px;}

.hot_news{width:414px; float:right;}

.tbtn1 {border:#ccc 1px solid;}
.cmd_news{width:260px; float:right;}
.tbtncon {background:url(../img/title_bg1.gif); height:29px;}
.tbtncon li {border-right:#ccc 1px solid; display:block; float:left; width: 80px; cursor:pointer; color:#333333; line-height:28px; height:28px; text-align:center; text-decoration:none;}
.tbtncon li:hover {text-decoration:none;}
.tbtncon li.curr {background: #fff; border-bottom:1px #fff solid; cursor:pointer; color: #d14500;}

.normaltab{border-right:#ccc 1px solid; display:block; float:left; width: 80px; cursor:pointer; color:#333333; line-height:28px; height:28px; text-align:center; text-decoration:none;}
.dis{display:block;}
.undis{display:none;}


.left{float:left;}
.right{float:right;}
.run_news{width:830px; height:25px; line-height:25px;}

.page_main_msg{width:650px;}
.left_row{margin-bottom:5px;}
.pic_news{width:678px;}
#tw{padding:5px !important; padding:5px 5px 0px 5px;}
#tw img{border:1px solid #ccc; padding:3px;}

.cycle_news_row{width:678px; margin-bottom:5px; text-align:center;}
.cycle_news{width:329px; margin:3px; float:left; text-align:left;}

.page_other_msg{width:260px;}
.right_row{margin-bottom:5px;}

.page_nav{width:100%; height:28px; line-height:28px; background-image:url(../img/title-bg.gif); color:#d14500; text-indent:10px;}
/*页面主体布局End*/


/*内容页布局Begin*/
.ctitle {margin:0px 8px; border-bottom:#cc0000 2px solid;}
.ctitle1 {font-size:20px; color:#26519d; line-height:60px; font-family:黑体; height:60px; text-align:center;}
.ctitleinfo {margin:0px 8px; color:#999999; line-height:30px; border-bottom:#cccccc 1px solid; height:30px; text-align:center;}
.pbox {font-size:14px; margin:0px auto; overflow:hidden; width:660px; line-height:22px; padding-top:15px; text-align:left;}
.pbox a {color:#009900; text-decoration:underline;}
.pbox img {margin: 5px; WIDTH: expression(this.width > this.height && this.width >650 ? 650 : true); max-width: 650px}

.intr{width:620px; border:#cccccc 1px solid; background-color: #FBFCDC; padding:8px; text-indent:10px; margin:5px auto; line-height:1.6em;}
.intr_front{font-size:14px; font-weight:bold; color:#d14500;}

.page_no {padding-top:10px; text-align:center;}

.page_tag {padding:5px; margin:3px auto; width:650px; line-height:15px; border-bottom:#cccccc 1px solid;}
.pagedownl {font-weight:bold; color:#ff0000; text-decoration:underline;}
.arti_ref{padding:10px 0px; text-align:center; border-bottom:#cc0000 2px solid;}

.comment_item{margin-top:5px; border:1px #ccc solid; padding:2px;}
.comment_bar{height:20px; padding:8px 0px 0px 10px; background-color:#f3f3f3;}
.comment_content{padding:5px;}

.pl_row{width:750px; margin:0px auto;}
.pl_top{border-bottom:2px #FF0000 solid;}
.pl_logo{width:310px; float:left;}
.pl_path{float:left; padding-top:30px;}
.pl_title{height:30px; line-height:30px; font-weight:bold; color:#0000FF; font-size:26px; margin-top:15px;}
.pl_run{height:25px; line-height:25px; border:#cccccc 1px solid;background-color:#F8F7E9; padding:2px; margin-top:10px;}

.pl_list{border:#eee 1px solid; padding:1px; background-color:#EDF0F1; margin-top:8px;}
.pl_bar{height:25px; padding-top:8px; text-indent:10px; font-weight:bold; background-color:#fff;}
.pl_item{width:98%; border-bottom:1px #003399  dashed; margin:5px auto;}
.pl_msg{height:25px; line-height:25px; text-indent:10px; color:#003399;}
.pl_content{padding:5px; line-height:1.8em; word-break:break-all;}
.pl-input{margin-top:8px;}
.pl_foot{height:30px; margin-top:5px; background:url(../img/footbg.gif) repeat-x; border:#eeeeee 1px solid; border-top:0px;line-height:2em; text-align:center; padding-top:20px;}

.msg_title{height:20px; line-height:20px; color:#003399; text-align:left; font-weight:bold;}
.msg_content{line-height:1.8em; word-break:break-all; text-align:left; border-bottom:1px #003399 dashed; text-indent:10px; }
/*内容页布局End*/


/*页脚布局Begin*/
.foot{width:950px; padding:8px; margin:5px auto; background-color:#ffffff;}
.foot_pic{width:210px; padding-top:5px; float:left;}
.foot_msg{width:730px; line-height:1.6em;}
/*页脚布局End*/