body{margin:0px auto;padding:0px;font-size:12px;font-family:Verdana, Arial, Helvetica, sans-serif; background-color:#d9d9d9}
img{border:0px;}
form{margin:0px;padding:0px;}
ul{margin:0px;padding:0px;}
li{text-align:left;list-style:none;}
a{color:#333333;text-decoration:none;}
a:hover {color: #ff3300;text-decoration:underline}

a.channel{font-weight:bold;}
a.channel:link {color: #ffffff; }
a.channel:visited {color: #ffffff;}
a.channel:hover{color: #ffff00;}
a.channel:active {color: #000000;}

.f12b-white{font-size:12px;color:#ffffff;font-weight:bold;}

.input{border:#ccc 1px solid;background:#ffffff;padding-top:3px;}