/*==========cms_whole_css==========*/
body{margin:0px auto;padding:0px;font-size:12px;font-family:Verdana, Arial, Helvetica, sans-serif; color:#42515a; background-color:#d9d9d9}
xmp{display:none;}

/*links*/
a{color:#333333;text-decoration:none;}
a:hover {color: #24618e;text-decoration:underline}
.red,a.red:link,a.red:visited{color:#0d426c;}
.black,a.black:link,a.black:visited{color:#000;}
.white,a.white:link,a.white:visited{color:#fff; text-decoration:none;}
a.white:hover{color:#ff0;}
.blue,a.blue:link,a.blue:visited{color:#004b8b; font-weight:bold; font-size:12px;}
.blue2,a.blue2:link,a.blue2:visited{color:#004b8b; font-weight:bold; font-size:13px;}

/*hover for img*/
a.ih:hover{background-color:#000;}
a.ih img{padding:2px;}
a.ih:link img,a.ih:visited img{padding:2px;}
a.ih:hover img,a.ih:active img{background-color:#FF0000;}

/*position*/
.relative{position:relative; z-index:1;}
.absolute{position:absolute;}

/*display*/
.hide{display:none;}
.show{display:block; clear:both;}
.block{display:block;}
.clear {clear:both;}
.box:after{content:"\0020";display:block;height:0;clear:both;}

/*borders*/
.allborder{border:1px solid #ddd;}
.border_nt{border:1px solid #ddd;border-width:0 1px 1px 1px;}
.border_nb{border:1px solid #ddd;border-width:1px 1px 0 1px;}
.border_r{border-right:1px solid #ddd;}
.border_b{border-bottom:1px solid #E5E5E5;}
.border_t{border-top:1px solid #E5E5E5;}
.border_r_dash{background:url(../img/border_dash.gif) right top repeat-y;}

/*aligns*/
.center{margin:0 auto;}
.g_t_l{text-align:left;}
.g_t_c{text-align:center;}
.g_t_r{text-align:right;}
.g_t_j{text-align:justify;}
.g_t_t{vertical-align:top;}
.g_t_m{vertical-align:middle;}
.g_t_b{vertical-align:bottom;}

/*boxes*/
ul,li{padding:0;margin:0; list-style:none;}
img{border:0;}
dl,dd,dt,form,h1,h2,h3,h4,h5,h6 {margin:0;padding:0;}
h1{font-size:16px; color:#ff3c00; line-height:3em;}
h2{font-size:16px; line-height:1.5em;}
h3{font-size:14px; color:#0066FF; text-indent:10px;}
h4{font-size:12px;color:#000;text-indent:10px;}
del{color:#fff;font-size:10px;}
.input1{height:16px;width:200px;border:1px solid #d4d0c8; vertical-align:middle;}
.img2{border:1px solid #ccc; padding:3px;}

/*indent & line-height*/
.in_10px {text-indent:10px;}
.line_18em {line-height:1.8em;}
.lh_30px {height:30px; line-height:30px;}

/*basics*/
.mgt5{margin-top:5px;}
.mgb5{margin-bottom:5px;}
.mgt10{margin-top:10px;}
.mgb10{margin-bottom:10px;}
.fl{float:left;}
.fr{float:right;}

/*fonts*/
.f12b{font-size:12px; font-weight:bold;}
.f12-rog{font-size:12px; color:#FF0033;}
.f14b{font-size:14px; font-weight:bold;}
.f16b-red{color:#FF0000; font-weight:bold; font-size:16px;}


.c1-bline{border-bottom:#999 1px dashed;border-top:1px;padding:6px 0px;}

.page {
font-size: 12px;
font-family: Verdana;
margin: 5px auto;
padding: 3px;
text-align: center;
}
.page a, .total {
border: #EEE 1px solid;
padding: 2px 5px;
margin: 2px;
color: #036CB4;
text-decoration: none;
}
.page .disabled {
border: #EEE 1px solid;
padding: 2px 5px;
margin: 2px;
color: #DDD;
}
.page .current {
border: #036CB4 1px solid;
padding: 2px 5px;
font-weight: bold;
margin: 2px;
color: white;
background: #036CB4;
}

.input{border:#ccc 1px solid;background:#ffffff;padding-top:3px;}
.label{color:#000000;}