<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>${(catalog.catalogName)!} - ${web.name}</title>
<meta content="${(catalog.keywords)!}" name="keywords" />
<meta content="${(catalog.description)!}" name="description" />

<link href="${root}/darkBlue/app/css/whole.css" rel="stylesheet" type="text/css"/>
<link href="${root}/darkBlue/app/css/layout.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<!--页头Begin--><@cms.Include name='head.html' solution='darkBlue'/> <!--页头End-->
<!--搜索栏Begin--><@cms.Include name='search.html' solution='darkBlue'/><!--搜索栏End-->
<!--主体下Begin-->
<div class="page_row">
	<div class="page_main_msg left">
		<div class="list_bar" style="width:680px;"><@cms.Position /></div>
		<div class="left_row">
<OBJECT><embed src="${root}/darkBlue/article/img/banner.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="680" height="132"></embed> </OBJECT>
</div>
		<div class="left_row">
		  <div class="list pic_news">
				<div class="list_bar"> <span><img src="${root}/darkBlue/app/img/blueArrows.gif" alt="" title=""/></span>  ${catalog.catalogName}</div>
				<div class="list_content">
				  <@cms.ArticleList catalogId=catalog.catalogId viewSize='20'/>
		    </div>
		  </div>
		</div>	
		<div style="clear:both;"></div>
	</div>	
	
	<div class="page_other_msg right">
	 	<@cms.Include name='right.html' solution='darkBlue'/> 
	</div>
	<div style="clear:both;"></div>
</div>
<!--主体下End-->


<!--友情链接Begin-->
<@cms.Include name='hotlink.html' solution='darkBlue'/>
<!--友情链接End-->

<!--页脚Begin-->
<@cms.Include name='foot.html' solution='darkBlue'/> 
<!--页脚End-->
</body>
</html>
