
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>${web.name} - powered by OFBizCMS</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta name="keywords" content="${chnl.keywords}" />
<meta name="description" content="${chnl.description}" />
<script src="/cms/images/jquery-1.5.2.min.js" type="text/javascript"></script>
<link href="${root}/darkBlue/app/css/whole.css" type="text/css" rel="stylesheet" />
<link href="${root}/darkBlue/app/css/layout.css" type="text/css" rel="stylesheet" />
<script type="text/javascript">
function g(o){
	return document.getElementById(o);
}
function HoverLi(m,n,counter){
	for(var i=1;i<=counter;i++){
		g('tb_'+m+i).className='normaltab';
		g('tbc_'+m+i).className='undis';
	}
	g('tbc_'+m+n).className='dis';
	g('tb_'+m+n).className='curr';
}
</script>
</head>

<body>
<!--页头Begin-->
<@cms.Include name='head.html' solution='darkBlue'/>
<!--页头End-->
<!--搜索栏Begin-->
<@cms.Include name='search.html' solution='darkBlue'/>
<!--搜索栏End-->
<!--共同关注Begin-->
<div class="page_row">
  <div class="left"><img alt="" src="${root}/darkBlue/app/img/myjon.gif" /></div>
  <div class="left run_news"><@cms.ArticleList catalogId='' typeId='focus' viewSize='4' linkTarget='1'/></div>
  <div style="clear: both"></div>
</div>
<!--共同关注End-->
<!--主体上Begin-->
<div class="page_row">
  <!--焦点图Begin-->
  <div class="focus"><@cms.Include name='focus.html' solution='darkBlue'/></div>
  <!--焦点图End-->
  <div class="calender_box">
    	  
		<iframe src="ViewCalendar" frameborder="0" class="calender"></iframe>
	
  </div>
  
  
  <div style="clear: both"></div>
</div>
<!--主体上End-->
<!--主体上Begin-->
<div class="page_row">
  <!--焦点图Begin-->
  <div id="jdtdd"><@cms.ArticleList catalogId='' typeId='focus' viewSize='4' linkTarget='1'/></div>
  <!--焦点图End-->
  
  <div class="list hot_news">
      <div id="tb_0" class="tbtncon">
			<ul>
				<li id="tb_11" onclick="HoverLi(1,1,3);" class="curr">${uiLabelMap.NewArti}</li>
				<li id="tb_12" onclick="HoverLi(1,2,3);">${uiLabelMap.HotArti}</li>
				<li id="tb_13" onclick="HoverLi(1,3,3);">${uiLabelMap.Recommend}</li>
			</ul>
	  </div>
	  
	  <div class="list_content">
	  	<div class="dis" id="tbc_11">
			<@cms.ArticleList catalogId='' typeId='default' viewSize='4' linkTarget='1'/>
		</div>		
		<div class="undis" id="tbc_12">
			<@cms.ArticleList catalogId='' typeId='default' viewSize='4' linkTarget='1'/>
		</div>		
		<div class="undis" id="tbc_13">
            <@cms.ArticleList catalogId='' typeId='default' viewSize='4' linkTarget='1'/>
       </div>		
	  </div>
	
  </div>
  
  <div style="clear: both"></div>
</div>
<!--主体上End-->
<!--主体下Begin-->
<div class="page_row">
  <div class="page_main_msg left">
    <div class="left_row"><embed height="132" width="680" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" quality="high" src="${root}/darkBlue/app/img/banner.swf"></div>
    <div class="left_row">
      <div class="list pic_news">
        <div class="list_bar">// ${uiLabelMap.WonderfulArti}</div>
        <div id="tw" class="list_content"><@cms.ArticleList catalogId='' typeId='default' viewSize='4' linkTarget='1'/></div>
      </div>
    </div>
    <div class="cycle_news_row">
    <div id="middlePoint" style="display:none"></div>

    <@cms.CatalogList id='' catalogType='article' orderBy='0';c,url> 
      <div class="list cycle_news">
        <div class="list_bar">// <a target="_blank" href="${(url)!}">${c.catalogName}</a></div>
        <div class="list_content"><@cms.ArticleList catalogId=c.catalogId viewSize='6'/></div>
      </div>
      </@cms.CatalogList>
      <div style="clear: both"></div>
    </div>
  </div>
  <div class="page_other_msg right">
    <div class="left_row"><img alt="" src="${root}/darkBlue/app/img/homeart2.gif" /></div>
	
	<div class="left_row">
        <div class="list">
            <div class="list_bar">// ${uiLabelMap.UserLogin}</div>
            <div class="list_content"><@cms.Include name='loginframe.html' solution='darkBlue'/></div>
        </div>
      
    </div>
	
    <div class="left_row">
      <div class="list">
        <div class="list_bar"><a target="_blank" href="/cms/control/Guestbook"><span><img src="${root}/darkBlue/app/img/contact.gif" alt="" title=""/></span></a></div>
        <div class="list_content">
        <@cms.MsgList inner='1' count='5';msg>
          <div class="msg_title">${(msg.member.loginName)!('uiLabelMap.Anonymous')}:</div>
		  <div class="msg_content">
			  <#if msg.contentMember?length lte 150 >
				  ${(msg.contentMember)!}
			  <#else>
				  ${msg.contentMember[0..149]}...
			  </#if>
		  </div>
		</@cms.MsgList> 
        </div>
      </div>
    </div>
    <div class="left_row">
      <div class="list">
        <div class="list_bar"><span><img src="${root}/darkBlue/app/img/icon_pic.gif" alt="" title=""/></span> ${uiLabelMap.Vote}</div>
        <div class="list_content"><@cms.VoteTopic sysTpl='0'/></div>
      </div>
    </div>
  </div>
  <div style="clear: both"></div>
</div>
<!--主体下End-->
<!--广告Begin-->
<@cms.Include name='advertisement.html' solution='darkBlue'/>
<!--广告End-->

<!--友情链接Begin-->
<@cms.Include name='hotlink.html' solution='darkBlue'/>
<!--友情链接End-->
<!--页脚Begin-->
<@cms.Include name='foot.html' solution='darkBlue'/>
<!--页脚End-->
</body>
</html>
