<div class="foot">
<div class="foot_pic"><img height="50" alt="" width="200" src="${root}/default/article/img/flogo.gif" /></div>
<div class="left foot_msg">
<a target="_blank" href="http://code.google.com/p/ofbiz-cms">${uiLabelMap.AboutUs}</a> - 
<a target="_blank" href="http://ofbiz.group.iteye.com">${uiLabelMap.ContactUs}</a> - 
<a target="_blank" href="http://code.google.com/p/ofbiz-cms/downloads/list">${uiLabelMap.Download}</a> -  ${uiLabelMap.Cooperation} - 
<a target="_blank" href="http://www.apache.org/licenses/LICENSE-2.0">${uiLabelMap.License}</a> - 
<a onClick="this.style.behavior='url(#default#homepage)';this.setHomePage(location.href)" href="javascript:void(0);">${uiLabelMap.SetFirstPage}</a><br />
${uiLabelMap.Phone}: 15000850008<br />
Powered by OFBizCMS ${(web.copyright)!} ${(web.recordCode)!}
</div>
<div style="clear: both"></div>
</div>