<script src="${sysResRoot}/jquery.js" type="text/javascript"></script>
<link href="${sysResRoot}/front.css" rel="stylesheet" type="text/css"/>
<!--开始。开发状态使用-->
<script src="${base}/common_res/js/pony.js" type="text/javascript"></script>
<script src="${base}/common_res/js/jquery_validate.js" type="text/javascript"></script>
<script src="${base}/core_res/js/front.js" type="text/javascript"></script>
<script src="${base}/auxiliary_res/js/front.js" type="text/javascript"></script>
<link href="${base}/common_res/css/front.css" rel="stylesheet" type="text/css"/>
<link href="${base}/core_res/css/front.css" rel="stylesheet" type="text/css"/>
<!--结束。开发状态使用-->