<div class="left_row">
  <div class="list">
    <div class="list_bar">// ${uiLabelMap.UserLogin}</div>
    <div class="list_content">
      <div id="div"> 
	  	<iframe src="/cms/control/LoginFrame" frameborder="0" style="width: 210px; height: 150px"></iframe>
	  </div>
    </div>
  </div>
</div>

<div class="left_row">
  <div class="list">
    <div class="list_bar">// ${uiLabelMap.HotArti}</div>
    <div class="list_content">
      <div id="div"> 
	  	[@cms.ArtiList chnlId='' count='10' sysContent='2-1' rollSpeed='50' rollDisplayHeight='150' isSleep='0' titLen='14' lineHeight='2' headMark='3' orderBy='2' target='1' /]
	  </div>
    </div>
  </div>
</div>

<div class="left_row">
  <div class="list">
    <div class="list_bar">// ${uiLabelMap.Recommend}</div>
    <div class="list_content">
      <div id="div"> 
	  [@cms.ArtiList chnlId='' count='10' sysContent='1-1' titLen='16' lineHeight='2' headMark='3' recommend='1' target='1'/]
	  </div>
    </div>
  </div>
</div>